body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-image: radial-gradient(circle at center center, transparent,rgb(0,0,0)),linear-gradient(87deg, rgba(80, 80, 80,0.05) 0%, rgba(80, 80, 80,0.05) 50%,rgba(6, 6, 6,0.05) 50%, rgba(6, 6, 6,0.05) 100%),linear-gradient(105deg, rgba(26, 26, 26,0.05) 0%, rgba(26, 26, 26,0.05) 50%,rgba(155, 155, 155,0.05) 50%, rgba(155, 155, 155,0.05) 100%),linear-gradient(212deg, rgba(130, 130, 130,0.05) 0%, rgba(130, 130, 130,0.05) 50%,rgba(81, 81, 81,0.05) 50%, rgba(81, 81, 81,0.05) 100%),linear-gradient(139deg, rgba(65, 65, 65,0.05) 0%, rgba(65, 65, 65,0.05) 50%,rgba(181, 181, 181,0.05) 50%, rgba(181, 181, 181,0.05) 100%),linear-gradient(331deg, rgba(8, 8, 8,0.05) 0%, rgba(8, 8, 8,0.05) 50%,rgba(120, 120, 120,0.05) 50%, rgba(120, 120, 120,0.05) 100%),linear-gradient(117deg, rgba(135, 135, 135,0.05) 0%, rgba(135, 135, 135,0.05) 50%,rgba(63, 63, 63,0.05) 50%, rgba(63, 63, 63,0.05) 100%),radial-gradient(circle at center center, hsl(127,1%,24%),hsl(127,1%,24%));
}
.container {
    text-align: center;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"] {
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #5d665f;
}
.loading {
    display: none;
    margin-top: 1rem;
}
.loading.show {
    display: block;
}
.notification {
    margin-top: 1rem;
    color: #d9534f;
}